<div class="row mb-3">
  <div class="col-12 mb-2">
    <h5>Редактировать сотрудника</h5>
  </div>
  <div class="col-3">
    <input
      type="text"
      class="form-control"
      placeholder="Имя"
      [(ngModel)]="name"
      [style.width]="'100%'"
    />
  </div>
  <div class="col-3">
    <input
      type="text"
      class="form-control"
      placeholder="Фамилия"
      [(ngModel)]="surname"
    />
  </div>
  <div class="col-3">
    <select class="custom-select" [(ngModel)]="type">
      <option [ngValue]="myWorkerType.programmer">Программист</option>
      <option [ngValue]="myWorkerType.designer">Дизайнер</option>
      <option [ngValue]="myWorkerType.copywriter">Рекламщик</option>
      <option [ngValue]="myWorkerType.manager">Менеджер</option>
    </select>
  </div>
  <div class="col-3">
    <input
      type="text"
      class="form-control"
      placeholder="Номер телефона"
      [(ngModel)]="phone_number"
      [textMask]="{mask: phoneMask}"
    />
  </div>
  <div class="col-12 mt-3">
    <button class="btn btn-success btn-sm" (click)="onEditWorker()">Сохранить</button>
  </div>
</div>
